@import "../css/var";

.pay-type .pay-item {
  background: #fff;
  padding: 0.15rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $bg;
  .info{
    display: flex;
    align-items: center;
    .font12{
      margin-top: 0.03rem;
    }
  }
  .pay-icon {
    font-family: iconfont-common;
    margin-right: 0.1rem;
    font-size: 0.3rem;
  }
}
