@import "../css/var";
@import "../css/mixin";

.main-title {
  height: 0.45rem;
  /*border-bottom: 1px solid $bg;*/
  color: #fff;
  background: $primary;
  font-size: 0.16rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

  .left {
    @include middle;
    left: 0;
    padding: 0 0.1rem;

    .back-icon {
      display: inline-block;
      font-weight: bolder;
      font-size: 0.16rem;
      font-family: "iconfont-common";
      line-height: 0.3rem;
      cursor: pointer;
    }
  }

  .mid {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .right {
    @include middle;
    right: 0;
    padding: 0 0.1rem;

    .home-icon {
      font-size: 0.18rem;
      line-height: 0.3rem;
      cursor: pointer;
    }
  }


}
