$blue: #1b9dff !default;
$bg: #f1f1f1 !default;
$red: #ed5848 !default;
$green: #42b983 !default;
$orange: #ffa535 !default;
$black: #333 !default;
$yellow: #ffcf0d !default;
$gray: #acacac !default;
$border: 1px solid #ddd !default;
$shadow: rgba(0, 0, 0, .2) !default;
$primary: $green !default;
