@import "../../css/var";

.loading {
  display: inline-block;

  ul {
    display: inline-flex;

    li {
      width: 0.22rem;
      height: 0.22rem;
      border-radius: 50%;
      margin: 0.02rem;
      border: 0.04rem solid rgba(0, 0, 0, 0.05);
      padding: 0.02rem;

      div {
        background: $primary;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    li:nth-child(1) {
      animation: blink 2s linear infinite;
    }

    li:nth-child(2) {
      animation: blink 2s linear infinite 0.75s;
    }

    li:nth-child(3) {
      animation: blink 2s linear infinite 1.5s;
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0.2;
    border-color: rgba(0, 0, 0, 0);
  }
}
